@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&Roboto');

// color palette 
$color-1: #5e6263; // Dark Grey - Action color
$color-2: #b5ee27; // Lime Green
$color-3: #a2a6a7; // Medium Grey
$color-4: #dadedf; // light grey
$color-5: #ffffff; // white
$color-6: #1f2021; //really dark grey

// additional colors
$success: #b5ee27; // green
$alert: $color-3;  // medium grey

// fonts
$primary-font:'Roboto', sans-serif;
$secondary-font: 'Major Mono Display', monospace;

//headings
$upper: uppercase;

h1, h2, h3 {
	font-family: $secondary-font;
	text-transform: $upper;
}
h1 {
	font-size: 5rem;
	margin-top: 2rem;
	margin-bottom: 0;
	padding-left: 2rem;
	color: $color-2;
}

header h2{
	color: $color-5;
	margin: 0;
	padding-left: 2rem;
}
h3 {
	font-size: 2rem;
}
.summary a {
	color: $color-2;
}
.summary a:hover {
	color: $color-5;
}
.participation a {
	color: $color-2;
}
.participation a:hover  {
	color: $color-5;
}
.requirements a {
	color: $color-2;
}
.requirements a:hover {
	color: $color-5;
}
li {
	list-style-type: none;
}
.design-selection a {
	color: $color-5;
}
.design-selection a:hover {
	color: $color-2;
}
.design-archives a {
	color: $color-2;
}
.design-archives a:hover {
	color: $color-5;
}
.zen-resources a {
	color: $color-3;
}
.zen-resources a:hover {
	color: $color-2;
}
